/* Estilo general para el slider */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
}

.slide {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
}

.gallery-item.mosaic-block {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    max-width: 300px; /* Ajusta según el tamaño deseado del mosaico */
    margin: 5px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
}

/* Estilo para los botones de navegación del slider */
button.prev, button.next {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    transform: translateY(-50%);
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
