@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/fondoclaro.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semitransparente */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header .center {
    margin: 0;
    font-size: 2.5em;
}

/* Social Media Icons */
.socials {
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

.social-button {
    margin: 0 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-button img {
    width: 100%;
    height: auto;
}

/* Navigation Bar */
.navbar {
    background-color: rgba(68, 68, 68, 0.8); /* Fondo semitransparente */
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Main Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Main Image Container */
#main-image-container {
    text-align: center;
    margin: 20px 160px;
}

#main-image {
    max-width: 80%;
    width: 500px;
    height: auto;
    display: inline-block;
}

/* Header Content */
#header-content {
    padding: 40px;
    background-color: #f9f9f9;
}

#header-txt {
    float: left;
    width: 50%;
    padding: 20px;
}

#main-heading {
    font-size: 2em;
    color: #333;
}

#main-paragraph {
    font-size: 1.2em;
    color: #666;
}

#events-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#header-img {
    float: right;
    width: 50%;
    padding: 20px;
}

#video-container {
    text-align: center;
}

#main-video {
    width: 100%;
    height: auto;
}

/* Nosotros Section */
#nosotros {
    background-color: #fff;
    padding: 40px 0;
}

#nosotros-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nosotros-img {
    flex: 1;
    text-align: center;
}

#stage-image {
    max-width: 100%;
    height: auto;
}

#nosotros-txt {
    flex: 1;
    padding: 20px;
}

#nosotros-heading {
    font-size: 2em;
    color: #333;
}

#nosotros-paragraph {
    font-size: 1.2em;
    color: #666;
}

/* Events Section */
.events {
    padding: 20px;
}

.events h2, .events p {
    text-align: center;
    margin-bottom: 20px;
}

.event-info-scroll {
    display: flex;
    gap: 20px; /* Espacio entre columnas y filas */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 300px;
    white-space: normal;
}

.event img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.event h3 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.event p {
    flex-grow: 1;
    font-size: 1em;
    color: #666;
}
.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-1:hover {
    background-color: darkred;
}

/* Gallery Section */
.galeria {
    padding: 20px;
}

.gallery-grid {
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
    overflow-x: auto;
    overflow-y: hidden;
    /*white-space: break-spaces;*/
    scroll-snap-type: x mandatory; /* Añadir scroll-snap para un desplazamiento más suave */
}

.gallery-grid::-webkit-scrollbar {
    height: 10px; /* Ajusta el tamaño de la barra de desplazamiento */
}

.gallery-grid::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Color de la barra de desplazamiento */
    border-radius: 10px;
}

.gallery-grid::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px; /* Asegura que los elementos tengan un ancho mínimo */
    scroll-snap-align: start; /* Para que el scroll-snap funcione correctamente */
    transition: transform 0.3s, box-shadow 0.3s; /* Añadir transición para hover */
}

.gallery-item:hover {
    transform: scale(1.05); /* Agrandar ligeramente al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 130px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semitransparente */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.footer-links .link {
    width: 100%;
    max-width: 200px;
    margin: 10px;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.map-container iframe {
    width: 100%;
    border: 0;
    border-radius: 8px;
    margin-top: 20px;
}
